<%- provide(:titlepage, "#{@controller} : #{@page}") %>
<%= render :template => "layouts/application" %>

<h2 align="center" >
  <font size=14 face="Times New Roman" color="blue"> About game </font>
</h2>

<form name="Info" align="left">
  <p align="left">
    <font size="6" face="Times New Roman" color="green"> This is a game. </font>
  </p>
</form>
