<!DOCTYPE html>
<html>
  <head>
    <title>Game:About</title>
  </head>
  <body bgcolor="black">
    <form name="Menu" align="left">
      <font size="4" face="Times New Roman" color="green">
        <%= link_to "Main page", :controller => "server", :action => "mainpage" %>
      </font>
      <font size="4" face="Times New Roman" color="green">-></font>
      <font size="4" face="Times New Roman" color="purple">About game </font>
    </form>

    <h2 align="center" >
      <font size=14 face="Times New Roman" color="blue"> About game </font>
    </h2>

    <form name="Info" align="left">
      <p align="left">
        <font size="6" face="Times New Roman" color="green"> This is a game. </font>
      </p>
    </form>
  </body>
</html>
