<%- provide(:titlepage, "#{@controller} : #{@page}") %>
<%= render :template => "layouts/application" %>


<div class="three"><h1> About game </h1></div>
<div class="bubbles"></div>

<section>

<div id="titles">
<div id="titlecontent">
<p>  Стартовая локация Goddard </p>

<p>  teleport:</p>
<p>     - Bixon  -  перемещает из стартовой локации в Rune более стартовая локация не досупна!</p>
<p>     за телепорт взымается плата</p>
<p>   остальные нпс телепортируют из любой локации в любую (кроме стартовой)</p>


<p>  Goddard</p>

<p>   нпс Gerald встрчает нас диалагом и дает первое задание</p>
<p>   на уничтожение крыс с которых выпадывает квест итем нужный</p>
<p>   по заданию.. а так же оружие и игровая валюта..(квест одноразовый)</p>
<p>   НПС следует за персонажем в Rune продолжая цепочку квестов</p>

<p>  npc Fedor торговец оружием и одеждой.</p>


<p>  Rune</p>

  <p>    - Gerald в новой локации дает новые квесты и хвалит если выполнен квест в старт локации</p>
  <p>    дает квест на уничтожение 2 любых мобов (из локи) (квест повторяющийся)</p>

  <p>  - Allenos  мутный тип который даёт квест только после выполнения второго квеста геральда</p>


<p>  Shtudgard</p>

  <p>    - Brian  торговец  (который еще продает банки к ХП +20 хп навсегда!)</p>

    <p>    - Jlexa даёт мега квест на выполнение супер сложного задания по уничтожению дракона</p>
    <p>    в ходе сложнейшей битвы герой погибает (при любом раскладе и сколько бы ХП не было(Потрачено))</p>

</div>

 </section>
