<%- provide(:titlepage, "#{@controller} : #{@page}") %>
<%= render :template => "layouts/application" %>


<div class="three"><h1> About game </h1></div>
<div class="bubbles"></div>

<form name="Info" align="left">
  <p align="left">
    <font size="6" face=<%= @face %> color="green"> This is a game. </font>
  </p>
</form>
