<form name="config_list" align="center">
  <div align="left">
    <table border="1" width="100%">
      <tr>
        <td width="100%">
          <font size="4" face=<%= @face %> color="gold">
          <% if @location_configuration != nil%>
            <%= Player.find_each do |i|%>
              <% if i.location == @location_configuration[0]["location"]%>
                <%="#{i.name_user}"%>
                <br>
              <%end%>
            <% end %>
          <% end %>
          </font>
        </td>
      </tr>
    </table>
  </div>
</form>