<!DOCTYPE html>
<html>
  <head>
    <title><%= @controller %> : <%= @page %></title>
  </head>
  <body bgcolor= <%= @bgcolor %>>
    <h1>Users#new</h1>
    <p>Find me in app/views/users/new.html.erb</p>
  </body>
</html>
