<!DOCTYPE html>
<html>
  <head>
    <title>Server:Admin</title>
  </head>
  <body bgcolor="black">
    <form name="Menu" align="left">
      <font size="4" face="Times New Roman" color="green">
        <%= link_to "Main page", :controller => "server", :action => "mainpage" %>
      </font>
      <font size="4" face="Times New Roman" color="green">-></font>
      <font size="4" face="Times New Roman" color="green">
        <%= link_to "Server", :controller => "server", :action => "server" %>
      </font>
      <font size="4" face="Times New Roman" color="green">-></font>
      <font size="4" face="Times New Roman" color="purple"> Admin Console </font>
    </form>
    <h2 align="center" >
      <font size="6" face="Times New Roman" color="green"> Admin Console </font>
    <h2>
    <form name="login" align="center">
      <table align="center">
        <tr>
          <td>
            <font size="4" face="Times New Roman" color="white"> Login </font>
            <input type="text" size="20">
          </td>
        </tr>
        <tr>
          <td>
            <form name="client info" align="left">
              <font size="4" face="Times New Roman" color="white"> Your ip : <%= request.remote_ip %> </font>
              <br>
              <font size="4" face="Times New Roman" color="white"> port : <%= request.port %> </font>
            </form>
          </td>
        </tr>
      </table>
    </form>


  </body>
</html>
