<HTML>
  <HEAD>
    <TITLE>Server:Admin</TITLE>
  </HEAD>
  <BODY>
    <H2 align="center" >
      <FONT size=16 face="Times New Roman" color="green"> Admin Console </FONT>
    <H2>
    <FORM name="login" align="center">
    <P align="center"><INPUT type="text" size="40"></P>
    </FORM>
  </BODY>
</HTML>
