<!DOCTYPE html>
<html>
  <head>
    <title>Server:Info</title>
  </head>
  <body bgcolor="black">
    <form name="Menu" align="left">
      <a href="/">
        <font size="2" face="Times New Roman" color="green"> Main page </font>
      </a>
      <font size="2" face="Times New Roman" color="purple"> -> Server info </font>
    </form>

    <h2 align="center" >
      <font size=14 face="Times New Roman" color="blue"> Server Info </font>
    </h2>

    <form name="Info" align="left">
      <p align="left">
        <font size="6" face="Times New Roman" color="green"> This is the Exodus game server. </font>
      </p>
    </form>
  </body>
</html>
