<%- provide(:titlepage, "#{@controller} : #{@page}") %>
<%= render :template => "layouts/application" %>

<div class="three"><h1> Exodus-MORPG </h1></div>
<div class="bubbles"></div>

<form name="Main_menu" align="center">
  <%- @links_main_menu.each_with_index do |value, index|%>
    <%- if (index % 3 == 0)%>
        <font size="8" face=<%= @face %>>
          <%= link_to value, :controller => @links_main_menu[index + 1], :action =>  @links_main_menu[index + 2] %>
        </font>
        <br>
    <%- end %>
  <%- end %>

  <br>
  <p align="center">
    <font size="4" face=<%= @face %> color="yellow"> Coming soon </font>
  </p>
</form>
