<%- provide(:titlepage, "#{@controller} : #{@page}") %>
<%= render :template => "layouts/application" %>
<form name="404" align="center" width="100%">
  <div align="center" width="100%">
    <font size="10" color="red"> ERROR&nbsp404&nbsp:&nbspPAGE&nbspNOT&nbspFOUND </font>
    <font size="10" color="red">
      <h1>The page you were looking for doesn't exist.</h1>
      <p>You may have mistyped the address or the page may have moved.</p>
      <p>If you are the application owner check the logs for more information.</p>
    </font>
  </div>

  <div class="dialog">
    <div>
  </div>
</form>
