<%- provide(:titlepage, "#{@controller} : #{@page}") %>
<%= render :template => "layouts/application" %>

<div class="three"><h1> Exodus-MORPG </h1></div>
<div class="bubbles"></div>


  <br>
  <div align="center">
    <ul id="my_menu">
      <li><a href="/server/info"><span>Server Info</span></a></li>
    </ul>
</div>
